<!--Lea-->
<!-- views/layouts/main.handlebars -->

<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Animals Seen Blog</title>
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css"
    />
    <link rel="stylesheet" href="/css/style.css">


  </head>

  <body style="background-color: lightgoldenrodyellow; height: 100%; ">

    <section class="hero is-primary">
      <div class="hero-body">
        <h1 class="title has-text-centered has-text-white is-size-1	has-text-weight-bold	">
          Animals Seen Blog
        </h1>
      </div>
    </section>

  <!-- navigation bar with homepage, dashboard, and login links -->
  <nav class="navbar has-background-lightyellow" role="navigation" aria-label="main navigation" style="margin-right: 12px; font-size: 17px">
    <div class="navbar-end">
      <a class="navbar-item has-text-link-dark" href="/">Homepage</a>
      <a class="navbar-item has-text-link-dark" href="/dashboard">Dashboard</a>

    <!-- Login button -->
      {{#if logged_in}}
        <button id="logout" class="logout navbar-item has-text-link-dark button is-danger">Logout</button>
        <script src="/js/logout.js"></script>
      {{else}}
        <a href="/login" class="navbar-item has-text-link-dark">Login</a>
      {{/if}}
    </div>
  </nav>

  <!-- Main Content -->
  {{{body}}}
</nav>
  
</body>
</html>