

<!--Lea-->
<!-- views/layouts/main.handlebars -->

<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Animals Seen Blog</title>
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css"
    />
  <link rel="stylesheet" href="/css/style.css">


  </head>

  <body>

    <section class="hero is-primary">
      <div class="hero-body">
      <h1 class="title has-text-centered has-text-white is-size-1	has-text-weight-bold	">
          Animals Seen Blog
        </h1>
      </div>
    </section>

<!-- navigation bar with homepage, dashboard, and login links -->
<nav class="navbar has-background-lightyellow" role="navigation" aria-label="main navigation">
  <div class="navbar-end">
     <a class="navbar-item has-text-link-dark" href="/">Homepage</a>
    <a class="navbar-item has-text-link-dark" href="/dashboard">Dashboard</a>

   <!-- Login button -->
    {{#if logged_in}}
      <a id="logout" class="navbar-item has-text-link-dark  button is-danger">Logout</a>
    {{else}}
      <a href="/login" class="navbar-item has-text-link-dark">Login</a>
    {{/if}}
  </div>
</nav>

<!-- Additional login info if logged in -->
{{#if logged_in}}
  <div class="login-info">
    <p>Welcome, {{user.name}}!</p>
  </div>
{{/if}}

    <!-- Main Content -->
    {{{body}}}

<!-- Centered image -->
<div class="image-container has-background-lightyellow has-text-centered">
  <img src="{{animalImageUrl}}" alt="Animals Image" class="is-half">
</div>

    {{!-- {{#if logged_in}}
  <script src="script.js"></script>
    {{/if}} --}}
  </body>