<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Awesome Animals</title>
  <link rel="stylesheet" href="/css/style.css">
</head>

<body>
  <header>
       <h1>Awesome Animals</h1>
  </header>

  <nav>
    <div>
      <input type="text" id="searchBox" placeholder="Search">
      <button id="searchButton">Search</button>
    </div>
    <div>
      {{#if logged_in}}
        <a href="/logout">Logout</a>
        <a href="/posts">Your Posts</a>
      {{else}}
        <a href="/login">Login</a>
      {{/if}}
    </div>
  </nav>

  <!-- Main content of your page goes here -->

  {{#if logged_in}}
    <script src="/js/logout.js" defer></script>
  {{/if}}
</body>

</html>