<!-- views/dashboard.handlebars -->
<section class="custom-section">
  <div class="container ">
    <h2 class="title has-text-centered">
      Welcome,
      {{users.name}}!
    </h2>
    <div class="custom-box">
      <div class="columns is-centered">
        <div class="column is-one-quarter">
          <form id="animalSearchForm" class="has-text-centered">
            <div class="field">
  <label class="label" for="animalName" style="font-size: 25px;">Search for an animal:</label>
              <div class="control">
                <input
                  class="input"
                  type="text"
                  id="animalName"
                  placeholder="Enter the name of the animal"
                />
              </div>
            </div>
            <div class="field">
              <div class="control">
                <button
                  class="button is-primary has-text-black"
                  type="submit"
                >Search</button>
              </div>
            </div>
          </form>
        </div>
      </div>

      <!-- Display area for Wikipedia information -->
      <div id="wikipediaInfo" class="content" style="font-size: 22px;"></div>

      <!-- Comment Form Column -->
<div class="column ">
  <div class="box">
    <h2 class="title has-text-centered">Add a Comment</h2>

    <!-- Form to add a new comment -->
<form id="addCommentForm" >
      <div class="field">
        <label class="label" for="newComment" style="font-size: 18px;">New Comment:</label>
        <div class="control">
          <textarea class="textarea is small" id="newComment" placeholder="Type your comment here"></textarea>
        </div>
      </div>

      <div class="field">
        <div class="control">
          <button class="button is-primary" type="submit">Submit Comment</button>
        </div>
      </div>
    </form>
  </div>
</div>

      <div class="media" style="margin: 12px; font-size: 18px;">
      <div class=" media-content">
        <!-- First Comment Box -->
        <div class="content">
          <div class="box">
            <h2 class="title has-text-centered">Comment 1</h2>
            <p class="has-text-centered">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Tenetur, vero culpa! Unde, porro? Error odit alias voluptas dolorum sint illo officia, blanditiis ipsam laudantium, quod rerum earum necessitatibus fugit ut?.</p>
          </div>
        </div>
        <!-- Second Comment Box -->
  <div class="  content">
    <div class="box">
      <h2 class="title has-text-centered">Comment 2</h2>
      <p class="has-text-centered">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ipsum debitis amet inventore, quae laudantium expedita, atque hic unde quia assumenda beatae. A nemo quos dolores animi architecto reprehenderit, hic facere..</p>
    </div>
  </div>


<!-- Third Comment Box -->
  <div class=" content ">
    <div class="box">
      <h2 class="title has-text-centered">Comment 3</h2>
      <p class="has-text-centered">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsa consectetur ullam aperiam molestiae rerum, cum explicabo quidem recusandae cumque esse vel! Facere odit molestiae incidunt, animi fugiat natus blanditiis quia?</p>
    </div>
  </div>
  <!-- Third Comment Box -->
  <div class=" content ">
    <div class="box">
      <h2 class="title has-text-centered">Comment 3</h2>
      <p class="has-text-centered">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsa consectetur ullam aperiam molestiae rerum, cum explicabo quidem recusandae cumque esse vel! Facere odit molestiae incidunt, animi fugiat natus blanditiis quia?</p>
    </div>
  </div>
</div>
</div>
 </div> 
<!-- Comment Form Column -->
{{!-- <div class="column is-one-third">
  <div class="box">
    <h2 class="title has-text-centered">Add a Comment</h2>

    <!-- Form to add a new comment -->
<form id="addCommentForm" >
      <div class="field">
        <label class="label" for="newComment">New Comment:</label>
        <div class="control">
          <textarea class="textarea is small" id="newComment" placeholder="Type your comment here"></textarea>
        </div>
      </div>

      <div class="field">
        <div class="control">
          <button class="button is-primary" type="submit">Submit Comment</button>
        </div>
      </div>
    </form>
  </div>
</div> --}}
  

    <!-- Include your JavaScript file -->
    <script src="/js/dashboard.js"></script>
 
</section>