<section class="custom-section">
  <div class="container">
    <h2 class="title has-text-centered">
      Welcome,
      {{user.name}}!
    </h2>
    <div class="custom-box">
      <div class="columns is-centered">
        <div class="column is-one-quarter">
          <form id="animalSearchForm" class="has-text-centered">
            <div class="field">
  <label class="label" for="animalName">Search for an animal:</label>
              <div class="control">
                <input
                  class="input"
                  type="text"
                  id="animalName"
                  placeholder="Enter the name of the animal"
                />
              </div>
            </div>
            <div class="field">
              <div class="control">
                <button
                  class="button is-primary has-text-black"
                  type="submit"
                >Search</button>
              </div>
            </div>
          </form>
        </div>
      </div>

      <!-- Display area for Wikipedia information -->
      <div id="wikipediaInfo" class="content"></div>

      <div class="columns">
        <!-- First Comment Box -->
        <div class="column is-one-third">
          <div class="box">
            <h2 class="title has-text-centered">Comment 1</h2>
            <p>This is the content of the first comment.</p>
          </div>
        </div>
        <!-- Second Comment Box -->
  <div class="column is-one-third">
    <div class="box">
      <h2 class="title has-text-centered">Comment 2</h2>
      <p>This is the content of the second comment.</p>
    </div>
  </div>


<!-- Third Comment Box -->
  <div class="column is-one-third">
    <div class="box">
      <h2 class="title has-text-centered">Comment 3</h2>
      <p>Content of Comment 3 goes here.</p>
    </div>
  </div>
</div>

<!-- Comment Form Column -->
<div class="column is-one-third">
  <div class="box">
    <h2 class="title has-text-centered">Add a Comment</h2>

    <!-- Form to add a new comment -->
<form id="addCommentForm">
      <div class="field">
        <label class="label" for="newComment">New Comment:</label>
        <div class="control">
          <textarea class="textarea is small" id="newComment" placeholder="Type your comment here"></textarea>
        </div>
      </div>

      <div class="field">
        <div class="control">
          <button class="button is-primary" type="submit">Submit Comment</button>
        </div>
      </div>
    </form>
  </div>
</div>
  

    <!-- Include your JavaScript file -->
    <script src="/js/dashboard.js"></script>
  </div>
</section>